/* postItem styles */

.posts_item_container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
    width: 35rem;
    height: 10rem;
}

