/* postItem styles */

.post_item_container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35rem;
    overflow: hidden;    
}

